/* Cacher la modale GitHub "indique" */
body > div[data-target="onboarding-modal"] {
    display: none !important;
  }
  
.inner-modal {
    width: 100%;
    height: 50%;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-container {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 5px;
    width: 60%;
    max-width: 600px;
    margin: 10% auto; /*Centrer la modale verticalement et horizontalement*/
    padding: 20px;
    position: relative;
}
.modal-container-title {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--second-bg-color);
    box-shadow: 0 0 0.1rem var(--main-color);
    /*border-bottom: solid 3px; */

}
.modal-container-message {
    padding: 2rem;
}
.modal-container-message p {
    font-size: 1.6rem;
}

.lock {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}
.btn-modal {
    display: flex;
    justify-content: flex-end;

}
.btn-modal {
    margin-top: 2rem;
}
@media (max-width: 991px) {
    .modal-container-message {
        max-height: 400px;
    }
}
@media (max-width: 768px) {
    .modal-container-message {
        max-height: 300px;
    }
}
@media (max-width: 450px) {
    .modal {
        margin-top: 4rem;
    }
    .modal-container-message {
        max-height: 250px;
        overflow-y: scroll;
    }
}